{% extends 'base.html.twig' %}

{% block title %}{{ conference.name }} - Details{% endblock %}

{% block body %}
    <div class="container flex-grow-1 container-p-y">
        <turbo-frame id="conference-list">
            {{ include('conference/_details.html.twig') }}
        </turbo-frame>
    </div>
{% endblock %}
